:root {
    --bg: #0f172a;
    --text: white;
    --card: rgba(255, 255, 255, 0.1);
}

.light {
    --bg: #ffffff;
    --text: #111;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--bg);
    color: var(--text);
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BUTTON */
.btn {
    background: #38bdf8;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    border-radius: 8px;
}

/* SECTIONS */
.section {
    padding: 100px 40px;
    text-align: center;
}

/* PROJECTS */
.projects-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background: var(--card);
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
}

/* SCROLL ANIMATION */
.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* MOBILE */
@media(max-width:768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        right: 0;
        top: 60px;
    }

    .hamburger {
        display: block;
    }
}